/* general */
body{
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size:  cover; 
}
.title h1 {
    background: white;
    color: #4595E8;
    padding: 5%;
    display: inline;
    font-size: 50px;
    font-family: 'Srisakdi', cursive;
    font-weight:700;
    border: 10px outset skyblue;

}
.fas, .fa-gem{
    color: #4595E8;
}
.title {
    padding:5%;
    margin-left:22%;
    margin-bottom:1%;
}
p {
    padding :2%;
}

/* computer's random number */
#cpu{
    font-size: 60px;
    background:blue;
    color: white;
    padding:0% 1.5% 0% 1.5%;
    border-radius: 50%;
    margin-left:46.5%;
}  

/* button for the users */
#crystals{
    margin-left: 20%;
} 
.crystal-image {
    width: 100px;
    height: 100px;
    margin: 2% 5% 3% 5%;
  }

/* report */
.score{
    width:400px;
    display: block;
    font-size: 30px;
    background: white;
    color: #4595E8;
    border:3px solid skyblue;
    margin-left: 33%;
    padding:1% 2% 1% 2%;

}
#cpu, .score{
    font-family: 'Open Sans Condensed', sans-serif;
}
#message, #totalScore, #win, #loss{
    color: #202EE8;
    font-weight: bold;
}

/* game content */
#play{
    width:5px;
    height:5px;
    opacity:0;
}

/* media query */
@media screen and (max-width: 980px) {
    .title{
        margin-top:2%;
        margin-left: 12%;
        margin-bottom:5%;
    }
    #crystals{
        margin-left:13%;
    }
    .score{
        margin-left:27%;
    }
    body{
        background-size:120%;
    }
}

@media screen and (max-width: 768px) {
    .title{
        margin-bottom:7%;
    }
    .title h1{
        font-size:40px;
    }
    body{
        background-size: 150%; 
    }
    #crystals{
        margin: 5% 5% 3% 7%;
    }
    
    .score{
        margin-left:22%;
    }
}
@media screen and (max-width: 640px) {
    body{
        background-size:170%;
    }
    .title h1 {
        font-size: 30px;
    }
    .title {
        margin-left: 13%;
    }
    #crystals {
        margin-left:8%;
        margin-bottom: 5%;
    }
    .crystal-image {
        margin: 3%;
      }
    .score{
        margin-left: 15%;
    }
}